## Set up steps

In [71]:
import aerospike
import pandas
from itables import show

config = {'hosts': [('localhost',3000)]}

client = aerospike.client(config).connect()

ns = 'vest_vault'
sn = 'inventory'

## Item List

In [ ]:
item_ids = [1001,1002,1003,1004,1010,1011]
keyTuplesList = []

def create_keyTuple(ns, sn, ii):
    keyTuple = (ns, sn, ii)
    keyTuplesList.append(keyTuple)

for item_id in item_ids:
    create_keyTuple(ns,sn,item_id)
  
print(keyTuplesList)

## Functions

In [45]:
def print_record(item):
    record_id, metadata, bins = item # now that we know about bins, we'll use that term instead 
    just_the_good_stuff = {
        'item_id' : record_id[2],
        'decade': bins.get('decade'),
        'category': bins.get('category'),
        'subcategory': bins.get('subcategory'),
        'color': bins.get('color'),
        'size': bins.get('size'),
        'subcategory': bins.get('subcategory'),
        'condition': bins.get('condition'),
        'material': bins.get('material'),
        'pattern': bins.get('pattern'),
        'price': bins.get('price'),
        'images': bins.get('images')
    }
    print(just_the_good_stuff)

## Work

In [93]:
batch_results = client.batch_read(keyTuplesList)

In [98]:
batch_results

In [99]:
data_list = []
for record in batch_results.batch_records:
    if record.result == 0: # 0 means success
        data_list.append(record.record)
    else:
        # Handle non-existent keys or errors
        print(f"Record not found or error for key {record_obj.key}: Result code {record_obj.result}")

# Now you can create your DataFrame
df = pandas.DataFrame(data_list)
df

,0,1,2
0,"(vest_vault, inventory, 1001, [188, 1, 233, 83...","{'ttl': 4294967295, 'gen': 4}","{'item_id': 1001, 'decade': '1970', 'category'..."
1,"(vest_vault, inventory, 1002, [70, 99, 192, 16...","{'ttl': 4294967295, 'gen': 5}","{'item_id': 1002, 'decade': '1970', 'category'..."
2,"(vest_vault, inventory, 1003, [68, 53, 123, 63...","{'ttl': 4294967295, 'gen': 3}","{'item_id': 1003, 'decade': '1970', 'category'..."
3,"(vest_vault, inventory, 1004, [70, 46, 111, 11...","{'ttl': 4294967295, 'gen': 3}","{'item_id': 1004, 'decade': '1970', 'category'..."
4,"(vest_vault, inventory, 1010, [231, 246, 63, 1...","{'ttl': 4294967295, 'gen': 4}","{'item_id': 1010, 'decade': '1990', 'category'..."
5,"(vest_vault, inventory, 1011, [150, 218, 53, 0...","{'ttl': 4294967295, 'gen': 2}","{'item_id': 1011, 'decade': '1990', 'category'..."

## OLD

In [43]:
qry_obj = client.query(ns,sn)

In [73]:
# records=qry_obj.foreach(print_record)

In [64]:
df_rows = []
records=qry_obj.foreach(df_builder)

In [53]:
df_rows = pandas.DataFrame(records)

In [ ]:
show(df_rows)

In [66]:
df_rows

[{'item_id': 1004,
  'decade': '1970',
  'category': 'coat',
  'size': 'L',
  'color': 'beige',
  'subcategory': 'heavy coat',
  'condition': 'good',
  'material': 'sheepskin',
  'pattern': 'rustic',
  'price': 304.12,
  'images': {'main': 'https://i.imgur.com/Pvg2GU7.png'},
  'primary_key': 1004,
  'ttl': 4294967295},
 {'item_id': 1003,
  'decade': '1970',
  'category': 'dress',
  'size': 's',
  'color': 'chartreuse',
  'subcategory': 'shift',
  'condition': 'excellent',
  'material': 'wool broadcloth',
  'pattern': 'wavy geometric',
  'price': 122.34,
  'images': {'main': 'https://i.imgur.com/ReMo53s.png'},
  'primary_key': 1003,
  'ttl': 4294967295},
 {'item_id': 1002,
  'decade': '1970',
  'category': 'shirt',
  'size': 'M',
  'color': 'mustard',
  'subcategory': 'button down',
  'condition': 'fair',
  'material': 'polyester',
  'pattern': 'floral',
  'price': 30.45,
  'images': {'main': 'https://i.imgur.com/87JJ61A.png'},
  'primary_key': 1002,
  'ttl': 4294967295},
 {'item_id': 1010,
  'decade': '1990',
  'category': 'jacket',
  'size': 8,
  'color': ['pink', 'purple', 'teal'],
  'subcategory': 'sweatsuit jacket',
  'condition': 'good',
  'material': 'rip-stop nylon',
  'pattern': 'color block',
  'price': 65.23,
  'images': {'main': 'https://i.imgur.com/3s01XIz.png'},
  'primary_key': 1010,
  'ttl': 4294967295},
 {'item_id': 1001,
  'decade': '1970',
  'category': 'pants',
  'size': 8,
  'color': 'rust',
  'subcategory': 'flare leg',
  'condition': 'excellent',
  'material': 'corduroy',
  'pattern': 'solid',
  'price': 41.14,
  'images': {'main': 'https://i.imgur.com/BVrKTDn.png'},
  'primary_key': 1001,
  'ttl': 4294967295},
 {'item_id': 1011,
  'decade': '1990',
  'category': 'pants',
  'size': 8,
  'color': ['pink', 'purple', 'teal'],
  'subcategory': 'sweatpants',
  'condition': 'good',
  'material': 'rip-stop nylon',
  'pattern': 'color block',
  'price': 55.37,
  'images': {'main': 'https://i.imgur.com/znmZ0hi.png'},
  'primary_key': 1011,
  'ttl': 4294967295}]